<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html">
        <img class="logo" src="/assets/images/logo.png" alt="" >
      </a>
      <div id="navBar" class="ms-auto">
          <a class="me-3" href="/login.html">登入</a>
          <a class="me-3" href="/register.html">註冊</a>
      </div>
    </div>
</nav>
<script type="module" src="/index.js"></script>